//breakpoints
$standard-desktop: 1280px;
$big-desktop: 1920px;

//containers widths

$main-nav-expanded: 15rem; // 210px for font-size: 14px
$main-nav-collapsed: 3.571rem; //50px
$feedback-menu: 15rem; // 210px
$feedback-submenu: 19.285rem; // 270px
$channel-submenu: 8.214rem; // 115px
$comment-width: 18.571rem; // 260px

$main-container-width: 37.142rem; // 520px
$snipsl-page-width: 52rem;
$snipsl-show: 46.428rem; //650px

//common variables
$bigger-font: 1.15rem; // 16px for font-size: 14px
$border-radius: 0.3rem;