.new-channel {
  width: calc(100% - #{$main-nav-collapsed});
  float: right;
  background-color: #333;
  height: 100%;

  @media screen and (min-width: $standard-desktop) {
    width: calc(100% - #{$main-nav-expanded});
  }
}

.create-channel {
  max-width: $main-container-width;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  overflow-y: auto;
}

.snipsl-index {
  width: calc(100% - #{$main-nav-collapsed + $channel-submenu + 0.01rem});
  float: left;
  margin-left: $channel-submenu;
  height: 100%;
  overflow-y: auto;

  @media screen and (min-width: $standard-desktop) {
    width: calc(100% - #{$main-nav-expanded + $channel-submenu});
  }

  &.snipsl-show {
    width: $snipsl-show;
  }

  .options {
    @extend %clearfix;
    max-width: 32rem;
    margin: 0 auto;
    padding: 4rem 0 5rem;
  }

  .shortcut-button:first-of-type {
    float: left;
  }

  .shortcut-button:last-of-type {
    float: right;
  }

  .basic-btn {
    margin: 2rem auto 1rem;
  }
}

.channel-comments-view {
  width: calc(100% - #{$main-nav-collapsed + $channel-submenu + $snipsl-show  + 0.01rem});
  float: left;

  @media screen and (min-width: $standard-desktop) {
    width: calc(100% - #{$main-nav-expanded + $channel-submenu + $snipsl-show});
  }

  .icon {
    position: fixed;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    color: #808080;

    &:hover {
      cursor: pointer;
      color: #333;
    }
  }
}

