.home-greeting {
  @extend %simple-view-container;
  padding-top: 10rem;
  text-align: center;

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-size: $huge-header;
  }

  h2 {
    line-height: 1.4;
  }

  .shortcut-button {
    margin-top: 4rem;

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }
  }
}
